@page "/agregarLigaColegio"
@using FUTBOLERO.Shared
@inject HttpClient http

<AuthorizeView>
    <Authorized>
        <FormularioLigaColegio2 listaColegios="listaColegio"/>
        @*<h1>ENTRE</h1>*@

        @*<FormularioLigaColegio listaColegios="listaColegio" />*@

        @*<h1>SALI</h1>*@
    </Authorized>
</AuthorizeView>




@code {
    public string idtorneoseleccionado;

    public List<ColegioCLS> listaColegio = new List<ColegioCLS>();

    [CascadingParameter]
    private Task<AuthenticationState> auth { get; set; }

    public string torneoMensaje { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authuser = await auth;
        var user = authuser.User;

        if (user.Identity.IsAuthenticated)
        {
            var claims = user.Claims.ToList();
            var torneo = claims[1].Value;

            // AQUI ESTOY RECIENDO EN CADENA EL ID DE TORNEO SELECCIONADO
            idtorneoseleccionado = claims[2].Value;

            torneoMensaje = torneo;

            listaColegio = await http.GetFromJsonAsync<List<ColegioCLS>>("api/Colegio/ListarColegio");
        }
    }
}
